In [1]:
import pandas as pd
import datetime as dt

In [2]:
dataset=pd.read_csv("Chiller_Cons.csv")

In [3]:
dataset

           DATE      A     B      C
0    2023-10-06   0.00  0.00   0.00
1    2023-10-07  10.28  5.78   6.04
2    2023-10-08   0.00  0.00  13.62
3    2023-10-09   8.96  7.84   5.80
4    2023-10-10   7.28  6.16   4.91
..          ...    ...   ...    ...
125  2024-02-08   5.37  4.56   2.97
126  2024-02-09   6.86  7.89   2.67
127  2024-02-10   8.42  8.10   3.47
128  2024-02-11   8.20  6.53   3.88
129  2024-02-12   3.02  1.49   1.56

[130 rows x 4 columns]

In [4]:
dataset.columns

Index(['DATE', 'A', 'B', 'C'], dtype='object')

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    object
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: float64(3), object(1)
memory usage: 4.2+ KB

In [6]:
dataset['DATE']=pd.to_datetime(dataset['DATE'])

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130 entries, 0 to 129
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   DATE    130 non-null    datetime64[ns]
 1   A       130 non-null    float64
 2   B       130 non-null    float64
 3   C       130 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 4.2 KB

In [8]:
startdate="2024-02-03"
enddate="2024-02-12"
df=dataset[dataset['DATE'].between(startdate,enddate)][['DATE', 'A']]

In [9]:
df

          DATE     A
120 2024-02-03  7.96
121 2024-02-04  7.47
122 2024-02-05  3.42
123 2024-02-06  5.91
124 2024-02-07  7.81
125 2024-02-08  5.37
126 2024-02-09  6.86
127 2024-02-10  8.42
128 2024-02-11  8.20
129 2024-02-12  3.02

In [10]:
column='A'

In [11]:
from sklearn.preprocessing import MinMaxScaler
Ms=MinMaxScaler()
data1=Ms.fit_transform(df[[column]])
print("Len:",data1.shape)

Len: (10, 1)

In [12]:
len(data1)

10

In [13]:
training_size=round(len(data1)*0.80)
print(training_size)
X_train=data1[:training_size]
X_test=data1[training_size:]
print("X_train length:",X_train.shape)
print("X_test length:",X_test.shape)
y_train=data1[:training_size]
y_test=data1[training_size:]
print("y_train length:",y_train.shape)
print("y_test length:",y_test.shape)

8
X_train length: (8, 1)
X_test length: (2, 1)
y_train length: (8, 1)
y_test length: (2, 1)

In [14]:
import warnings
warnings.filterwarnings("ignore")

In [15]:
#pip install statsmodels

In [16]:
from sklearn.metrics import mean_squared_error
trends=['n','t','c','ct']
orders=[(0,0,1),(0,0,2),(0,0,3)]
from statsmodels.tsa.arima.model import ARIMA
for td in trends:
        
        #print(td)
        #trendslist.append(td)
    model = ARIMA(X_train, order=(0,0,10),trend=td,)
    model_fit = model.fit()
        # make prediction
    y_pred= model_fit.predict(len(X_train), len(data1)-1)
        #print(y_pred)
    from sklearn.metrics import r2_score
    mse=mean_squared_error(y_test,y_pred,squared=False)
    from stockFunctions import rmsemape
    print("Trend={}".format(td))
    rmsemape(y_test,y_pred)
    print("************")

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=n
RMSE-Testset: 0.40513288464323877
maPe-Testset: 682945667442227.5
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=t
RMSE-Testset: 0.618765574187203
maPe-Testset: 1818463269831731.2
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

Trend=c
RMSE-Testset: 0.4389109828016151
maPe-Testset: 716494215539198.2
************
Trend=ct
RMSE-Testset: 0.5388882076407648
maPe-Testset: 1347888479979190.0
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [17]:
len(y_test)

2

In [18]:
#i=1
td="n"
model = ARIMA(X_train, order=(0,0,30),trend=td)
model_fit = model.fit()
# make prediction
y_pred= model_fit.predict(len(X_train), len(data1)-1)
#print(y_pred)
from sklearn.metrics import r2_score
mse=mean_squared_error(y_test,y_pred,squared=False)
from stockFunctions import rmsemape
print("Trend={}".format(td))
rmsemape(y_test,y_pred)
print("************")

Trend=n
RMSE-Testset: 0.4435854291913213
maPe-Testset: 760200911081235.4
************

C:\Users\Hi\anaconda3\envs\aiads\Lib\site-packages\statsmodels\base\model.py:607: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [19]:
#pip install Pillow

In [20]:
#from stockFunctions import graph
#graph(y_test,y_pred,"Actual","predicted","Quality data","Time","Char A")

In [21]:
len(data1)

10

In [22]:
y_test

array([[0.95925926],
       [0.        ]])

In [23]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])

In [24]:
aTestNormTable

          A
0  0.959259
1       0.0

In [25]:
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)

In [26]:
actual_stock_price_test_ori

array([[8.2 ],
       [3.02]])

In [27]:
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [28]:
actual_stock_price_test_oriA

      A
0   8.2
1  3.02

In [29]:
from stockFunctions import conversionSingle
aTestNormTable=conversionSingle(y_test,[column])
actual_stock_price_test_ori=Ms.inverse_transform(aTestNormTable)
actual_stock_price_test_oriA=conversionSingle(actual_stock_price_test_ori,[column])

In [30]:
from stockFunctions import conversionSingle
pTestNormTable=conversionSingle(y_pred,[column])
predicted_stock_price_test_ori=Ms.inverse_transform(pTestNormTable)
predicted_stock_price_test_oriP=conversionSingle(predicted_stock_price_test_ori,[column])

In [31]:
#from stockFunctions import graph
#graph(actual_stock_price_test_oriA,predicted_stock_price_test_oriP,"Actual","Predicted","Quality data","Time","Char A")

In [32]:
from stockFunctions import rmsemape
rmsemape(actual_stock_price_test_oriA,predicted_stock_price_test_oriP)

RMSE-Testset: 2.3953613176331356
maPe-Testset: 0.4759219488797252

In [33]:
forecast=model_fit.predict(len(data1), len(data1)+10)

In [34]:
forecast

array([0.67657835, 0.51409637, 0.50295827, 0.75557875, 0.56534081,
       0.32374349, 0.37829812, 0.36950281, 0.35145941, 0.4298687 ,
       0.41086974])

In [35]:
from stockFunctions import conversionSingle
fTestNormTable=conversionSingle(forecast,["A"])
forecast_stock_price_test_ori=Ms.inverse_transform(fTestNormTable)
forecast_stock_price_test_oriF=conversionSingle(forecast_stock_price_test_ori,["A fore cast"])

In [36]:
forecast_stock_price_test_oriF

   A fore cast
0     6.673523
1      5.79612
2     5.735975
3     7.100125
4      6.07284
5     4.768215
6      5.06281
7     5.015315
8     4.917881
9     5.341291
10    5.238697